.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
 
  max-height: 50vh;
  padding-top: 100px;
  padding-bottom: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.bg-primary {
  background-color: rgba(0, 0, 0, 0.2)!important;
}

.card {
  box-shadow: 5px 5px 5px #363e45;
  background-color: rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border-width: 5px;
  border-color: rgb(175, 180, 184);
  border-radius: 15px;
  padding-bottom: 10px;
}

.card-header {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.col {
  margin-bottom: 10px;
}

.intro {

  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.tech {
  
  padding-top: 50px;
  padding-left: 50px;
  padding-right: 50px;
  text-align: center;

  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: calc(10px + 2vmin);
  color: rgb(0, 0, 0);
}

.share {
  max-width: 290px;
}

.dan {
  max-width: 250px;
}

button {
  margin-top: 5px;
  margin-bottom: 10px;
  display: flex;
  flex-direction: row;
}

li {
  text-align: left;
}

.btn-outline-primary {
  display: flex;
  justify-content: left;
}

table {
  table-layout: fixed;
  width: 100%;
  border-collapse: collapse;
  
}

thead th:nth-child(1) {
  width: 30%;
}

thead th:nth-child(2) {
  width: 20%;
}

thead th:nth-child(3) {
  width: 15%;
}

thead th:nth-child(4) {
  width: 35%;
}

th, td {
  padding: 20px;
}

.codeShare {
  max-width: 200;
}

